    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>World Database</title>

        <!-- Bootstrap -->
        <link href="templates/css/bootstrap.css" rel="stylesheet">
        <link href="templates/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        <script>var __adobewebfontsappname__ = "dreamweaver"</script>
        <script src="http://use.edgefonts.net/ubuntu:n3:default;abril-fatface:n4:default.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <header class="row col-lg-12 page-header">
                <div class="jumbotron">
                    <h1>World Database</h1>
                </div>
            </header>
        </div>
        <nav class="col-lg-4 col-md-4">
            <div class="nav_panel">
                <ul>
                    <li>
                        {% for countryName in countryNames %}
                        <a href="index.php?country={{countryName}}">
                            <button class="btn btn-lg button btn-default">
                                {{countryName}}
                            </button>
                        </a>
                        {% endfor %}
                    </li>    
                </ul>    
            </div>
        </nav>

        <div class="text-center choose">

            <a>
                <h2 class="text-center choose_country" data-toggle="collapse"> 
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 
                    Search for the country
                </h2>
            </a>

            <form action="index.php" method="get">
                <input type="text" name="country" class="btn-default btn-lg" 
                       placeholder="Or tape name of a country here">
                <input type="submit" class="btn-default btn-lg submit_button">
            </form>

        </div>
        <main>
            <h2 class="text-center choose_country">Some facts about <span class="h2span">{{countrySelected}}</span>: </h2>
            <div class="row col-lg-12 col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td class="column_width">Continent</td>
                                <td class="column_width">Region</td>
                                <td class="column_width">Population</td>
                                <td class="column_width">GNP</td>
                                <td class="column_width">Life Expectancy</td>
                            </tr>
                            <tr>
                                <td>{{details.Continent}}</td>
                                <td>{{details.Region}}</td>
                                <td>{{details.Population}}</td>
                                <td>{{details.GNP}}</td>
                                <td>{{details.LifeExpectancy}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
        <footer class="row col-lg-12">
            <p><small>&copy; 2015 Monika Kozak</small></p>
        </footer>

        <!-- container --> 

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="templates/js/jquery-1.11.2.min.js"></script> 

        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="templates/js/bootstrap.js"></script>
    </body>
</html>
