@charset "utf-8";
/* CSS Document */

body, html {
	font-family: ubuntu;
	color: #616161;
	font-style: normal;
	font-weight: 300;
	height:100%;
}
body {
	background-image:url(../img/map2.png);
	background-size:20%;
}
nav {
	height:310px;
	overflow-y:scroll;
}
.jumbotron {
	border: 1px solid #C8C8C8;
	opacity: 0.6;
}
button:focus, input:focus {
	outline:none !important;
}
button {
	width: 320px;
	height: auto;
	margin-left: 0;
}
.btn-lg {
	margin: 2px 0;
	font-size: 14px;
}
a:hover, a:focus {
	text-decoration: none;
	cursor:pointer;
}
h1, h2 {
	/*font-size: 4em;*/
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	letter-spacing: 5pt;
	text-transform: uppercase;
	color: #8A8A8A;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
}
h2 {
	margin-top: 2em;
	margin-bottom: 1em;
}
.h2span {
	color:#771315;
	font-weight:bolder;
}
.column_width {
	width: 10%;
}
table {
	margin-top:2em;
	background-color:white;
}
td {
	text-align:center;
}
footer {
	text-align:center;
	margin-top: 3em;
}
form {
	margin-left: 15em;
}
input {
	border: 1px solid #8A8A8A;
	width: 310px;
	text-align:center;
}
ul {
	padding: 0;
}
li {
	list-style:none;
}
.submit_button {
	border: 1px solid #C8C8C8;
	opacity: 0.6;
}
.submit_button:hover {
	opacity:9;
}
.choose {
	widt: 400px;
	margin: 3em auto;	
}















